body {
  margin: 0;
  padding: 0;
  font-family: 'Allerta', sans-serif;
}

.button {
  font-size: 18px;
  background: linear-gradient(to left, #fe344e, #ff7250);
  color: rgba(255, 255, 255, .87);
  padding: 7px 12px;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.background {
  background-color: #1f313c;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color {
  background-color: #1f313c;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header figure {
  margin: 0;
}

.header .menu a {
  font-size: 24px;
  color: rgba(255, 255, 255, .87);
  text-decoration: none;
}

.header .menu ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .menu ul li {
  padding-left: 30px;
}

#portada {
  color: rgba(255, 255, 255, .87);
  padding-bottom: 100px;
  height: 500px;
}

#portada h1.titulo {
  margin-top: 100px;
  font-size: 70px;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

#portada h1.titulo span {
  text-decoration: underline;
  color: #FF3B4E;
  font-style: italic;
  letter-spacing: 1.5px;
}

#portada h3.slogan {
  font-size: 24px;
  margin-top: 15px;
}

#guitarras {
  color: #1f313c;
}

#guitarras h2.titulo {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

#guitarras #guitarra-1 h3,
#guitarras #guitarra-2 h3 {
  font-size: 50px;
}

.guitarra {
  border: 1px solid #1f313c;
  border-radius: 10px;
  margin: 30px 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#guitarra-1 {
  flex-direction: row-reverse;
}

footer {
  background-color: #1f313c;
  color: rgba(255, 255, 255, .87);
  padding: 50px 0;
}

footer img {
  margin-bottom: 20px;
}

footer a {
  color: rgba(255, 255, 255, .87);
  margin: 5px 0;
  line-height: 1.8;
  padding-right: 20px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container .contact {
  flex-basis: 30%;
}

footer .container .contact .contact-data {
  display: flex;
}

footer .contact .contact-data strong {
  display: block;
}

footer form.form {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

footer form.form .col-1 {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer form.form .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

footer form.form input[type=text],
footer form.form input[type=email],
footer form.form textarea {
  padding: 5px 10px;
  border: none;
}

@media (max-width: 800px) {
  #guitarra-1, #guitarra-2 {
    flex-direction: column;
  }
}

@media(max-width: 700px) {
  footer .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  footer .container .contact {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  footer form.form {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}

footer form .intereses label {
  font-size: 12px;
}

table {
  width: 100%;
  margin: 100px 0;
}

th {
  background-color: #273b47;
  color: rgba(255, 255, 255, .87);
  padding: 10px
}

td {
  padding: 20px;
}

table, th, td {
  border: 1px solid #273b47;
  border-collapse: collapse;
}